@charset "UTF-8";

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;

    background-image: url('../images/header.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    background: white;
    margin: 300px 0 0 0;
    padding: 0;
}

article h1 {
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    padding: 1.4em 0;
    margin: 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

article h1:hover {
    color: rgb(0, 30, 160);
}

article h1:before,
article h1:after {
    content: ' + ';
    color: rgb(220, 220, 220);
}

article[data-open] h1:before,
article[data-open] h1:after {
    content: ' − ';
}

article:nth-child(even) h1 {
    padding-left: 5em;
}

article:nth-child(odd) h1 {
    padding-right: 5em;
}

article .content {
    display: none;
}

article[data-open] .content {
    display: block;
}
