@charset "UTF-8";

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

header img {
    width: 100%;
    margin-bottom: -5px;  /* I'm not sure why there is a 5px gap here. */
}

main {
    background-image: url('../images/tracks.png'), url('../images/background.png');
    background-position: top center, top center;
    background-repeat: repeat-y, repeat;
}

article h1 {
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    padding: 1.4em 0;
    margin: 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

article h1:hover {
    color: rgb(0, 30, 160);
}

article h1:before,
article h1:after {
    content: ' + ';
    color: rgb(160, 160, 160);
}

article[data-open] h1:before,
article[data-open] h1:after {
    content: ' − ';
}


article:nth-child(even) h1 {
    padding-left: 1em;
}

article:nth-child(odd) h1 {
    padding-right: 1em;
}

@media (min-width: 720px) {
    article:nth-child(even) h1 {
        padding-left: 5em;
    }

    article:nth-child(odd) h1 {
        padding-right: 5em;
    }
}

article .content {
    display: none;
}

article[data-open] .content {
    display: block;
}

article .content {
    padding: 0 2em;
    text-align: justify;
}

a {
    color: rgb(0, 49, 110);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
}
